@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
body{
    margin: 50px 150px 50px 150px;
     font-family: "Arimo", sans-serif;
    background-color: #f3f2f1;
}

.heading{
    color: blue;
    font-size: 30px; /* why rem used? why can't pixel */
    border-bottom: 5px solid rgb(180, 172, 172) ;
}

.container{
    width: 100%;
    display: flex;
    font-family: inherit;
    justify-content: space-between  ;
}
.child{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgb(219, 216, 216);
    text-align: center;
    background-color: white;
}
.child,p,h1{
   margin-top: 50px;
}
.child,p1{
   color: rgb(165, 161, 161);
}


h1{
    font-size: 1.5rem;
    color: black;
}

.form-container{
   margin-top: 50px;
   width: 99%;
   height: 580px;
   border: 1px solid rgb(219, 216, 216);
   border-radius: 10px;
   background-color: white;
   margin-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px;
}
.child1{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 10px;
}

.description{
    height: auto;   
    gap: 20px;
    border-radius: 10px;
    color: gray;
    margin-bottom: 40px;
    padding-right: 10px;
}

.description input{
    height: 100px;
}

.child2{
  
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  height: auto;
  width: auto;
  margin-bottom: 40px;
  
}

.child2,select,input{
    height: 50px;
    width: 100%;
}
input{
    font-size: 20px;
}

select{
    font-size: 20px;
}

label{
  align-self: center;
  color: gray;
  font-size: 15px;
}


.submit-form{
   display: flex;
   gap: 10px;
   
}

.btn1{
    color: white;
    background-color: blue;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
}

.btn2{
    padding: 20px;
    border-radius: 20px;
    font-size: medium;
    font-weight:lighter;
    text-align: center;
    border: 1px solid rgb(219, 216, 216);
    cursor: pointer;
}


.task-list{
   padding-left: 30px;
   padding-right: 30px;
   width: 83%;
   height: auto;
   border: 1px solid rgb(219, 216, 216);
   background-color: white;
   border-radius: 10px;
}

.task,h2{
    padding-left: 20px;
}

.task-list,.task-filter,input{
    width: 100%;
}



.task-filter{
    display:flex;
    gap: 20px;
    margin-bottom: 20px;

}

.list{
    display: flex;
    flex-direction: column; 
    gap: 30px;
}



/** : Why we need 3 different classes with same styles*/

.list-item {
    padding-left: 20px;
    border: 1px solid rgb(219, 216, 216);
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.list-item h3{
    font-size: 30px;
}

.list-item p{
    font-size: 20px;
}

.list-red {
    border-left: 10px solid rgb(241, 80, 80);
}
.list-orange{
    border-left: 10px solid rgb(245, 136, 47);
}

.list-green{
    border-left: 10px solid rgb(129, 240, 129);
}

.tags1,.tags2,.tags3{
    display: flex;
    gap: 10px;
}

.child-tag{
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
    background-color: rgb(255, 251, 251);
    padding: 5px;
    color: rgb(165, 165, 165);
    cursor: pointer;
    
}

.child-color-red{
  background-color: rgb(252, 81, 81);
  color: white;
  font-weight: bold;
}

.child-color-orange{
  background-color: rgb(241, 173, 47);
  color: white;
  font-weight: bold;
}
.child-color-green{
  background-color: rgb(77, 245, 77);
  color:white;
  font-weight: bold;
}